
header{
  width: 100%;
}

.header-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i{
  color: $white-normal;
}

.header-icons{
  display: flex;
  gap: 14px;
}

.header-icons a:hover{
  i{
    animation: translateY 0.8s infinite alternate;
    color: $red-light;
  }
  img{
    animation: translateY 0.8s infinite alternate;
    color: $red-light;
  }
}

@keyframes translateY {
  from{
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}

.header-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 24px;  

  p {
    color: $white-normal; 
    margin-top: 48px; 
    font-size: 16px;  
  }
  img {
    width: 100%;
  }
}

@media screen and (max-width: 768px){
  .header-content{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    i{
      margin-top: 16px;
      font-size: 34px;
    }
  }


  .header-logo img{
    width: 70%;
    margin-top: 46px;
  }

  .header-icons:nth-of-type(3){
    display: none;
  }

}